body {
  font-family: "Poppins", serif;
}
.blog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* BlogPost Css Starts here */
.blog-icon-box {
  display: flex;
  justify-content: space-between;
}
.blog-icon {
  padding: 0 0.5rem;
}
.read-more-btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
  white-space: nowrap;
  background-color: rgb(11, 163, 11);
  border-radius: 5px;
}
.read-more-btn:hover {
  background-color: rgba(11, 163, 11, 0.774);
}
/* BlogPost css ends here */
/* FullArtical Css starts here */
.fullartical {
  padding: 1rem;
}
.fullartical-img-box {
  width: 50%;
  margin: 1rem auto auto;
}

@media (max-width: 750px) {
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .fullartical-img-box {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .blog-title {
    font-size: 1.5rem;
  }
  .blog-icon,
  .fullartical-span,
  .fullartical-content {
    font-size: 0.8rem;
  }
  .fullartical-img-box {
    width: 100%;
  }
}

/* Blog Card CSS */
.blog-card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #191924;
  box-shadow: 5px 5px 8px #1b1b1b, -5px -5px 8px #272727;
  transition: 0.4s;
  margin: 10px;
}

.blog-card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f, inset -5px -5px 3px #333333;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.blog-footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}
