:root {
  --primary-color: #191924;
  --secondary-color: #2ecc71;
  --primary-font-color: rgb(242, 243, 244);
  --secondary-font-color: rgb(143, 139, 139);
}

.p-font-color {
  color: var(--primary-font-color);
}
.s-font-color {
  color: var(--secondary-font-color);
}

.sec-title {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  margin: 40px 0;
  color: #fff;
}
.sec-subtitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
  color: rgb(143, 139, 139);
}

/* ==============================================Navbar CSS-============================================= */
/* Base styling */
nav {
  display: flex;
  height: 80px;
  width: 100%;
}

/* Logo */
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

/* Menu Links */
nav ul {
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: grey;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #fff;
}

/* Toggle Button */
.menu-icon {
  font-size: 22px;
  color: white;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

/* Responsive styling */
@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* Responsive Menu */
@media (max-width: 890px) {
  .menu-icon {
    display: block;
  }

  /* Adjust logo for smaller screens */
  label.logo {
    font-size: 22px;
  }

  /* Hidden menu styling */
  .nav-links {
    position: fixed;
    width: 100%;
    background: rgb(4, 10, 25);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  /* Show menu when open */
  .nav-links.open {
    left: 0;
  }

  /* Adjust individual menu items */
  nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: rgb(142 138 138);
  }
}

/* =====================MainSection Css Starts Here ======================*/

.author-img-box {
  background: url("/src/assets/svg-image-3.svg");
}
.author-box {
  width: 100%;
}
.author-img {
  width: 80%;
}
.author-info {
  padding: 1.8rem 3rem;
}
.title-info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  word-spacing: 0.1rem;
}
.author-name {
  font-size: 3rem;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  margin-bottom: 0;
}
.job-role {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

.about-me {
  color: var(--secondary-font-color);
}

.contact-info {
  margin: 10px 0;
}
.contact-info a,
.contact-info span {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5rem;
}
.contact-info i {
  padding: 0.5rem 1rem;
}

.resume-btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 130px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.resume-btn:active,
.resume-btn:hover {
  outline: 0;
}

.resume-btn span {
  background-color: #090b1d;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.resume-btn:hover span {
  background: none;
}

.resume-btn:active {
  transform: scale(0.9);
}

.box {
  width: 250px;
  position: relative;
}

.title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 32px;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  position: relative;
}

.title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  overflow: hidden;
}

.role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
}

.role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: var(--secondary-font-color);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Keyframes */
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 15px;
    height: 15px;
    bottom: 0px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ================================Skills Section Css Stars Here======================================= */
.skills-icons {
  width: 24px;
}
.skills-containers {
  width: 100%;
  max-width: 500px;
  background: rgb(23, 23, 33);
  border: 0.1px solid rgb(133, 76, 230);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 18px 36px;
  margin-bottom: 30px;
}
.skills-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}
.skills-btn {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-font-color);
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* ===================================Loader CSS Start Here=============================================== */
.loader {
  width: 112px;
  height: 112px;
}

.box1,
.box2,
.box3 {
  border: 16px solid #f5f5f5;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

/* =================================Experience CSS Start Here======================================= */
.experience-box {
  width: 650px;
  border-radius: 10px;
  padding: 12px 16px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s ease-in-out;
  border: 0.1px solid rgb(133, 76, 230);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}
.experience-box:hover {
  transform: scale(1.03);
}
.company-detail {
  width: 100%;
  display: flex;
  gap: 12px;
}

.company-img {
  width: 40px;
}

.exp-job {
  color: var(--primary-font-color);
  font-size: 20px;
}
.exp-company {
  font-size: 14px;
  font-weight: 400;
  color: rgb(150, 147, 147);
}
.exp-time {
  font-size: 10px;
  font-weight: 300;
  color: gray;
}
.company-box p {
  font-size: 14px;
}

/* ========================================Project Section=============================================== */
.btn-group .btn {
  color: #fff;
  border: 0.1px solid rgb(133, 76, 230);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
}

.btn-group .btn.active {
  background-color: rgba(132, 76, 230, 0.762);
  color: #fff; /* White text color */
}
/* ========================================Contact form css starts here================================== */

.contact-container {
  display: flex;
  background-color: none;
  width: 80%;
  margin: 7rem auto;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 137, 0.25);
}
.contact-details {
  background: #000;
  padding: 2rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.form-title {
  font-size: 3rem;
  text-align: center;
}
.form-subtitle {
  color: var(--secondary-font-color);
  text-align: center;
}
.form-links {
  text-decoration: none;
  color: var(--secondary-font-color);
}
.form-icon {
  background-color: var(--secondary-font-color);
  color: #000;
  border-radius: 30px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.form-input {
  border: none;
  border: 0.1px solid rgb(133, 76, 230);
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  background: none;
}
.contact-form {
  flex: 1;
  padding: 2rem;
}

.submit-btn {
  color: grey;
  background: none;
  border: 0.1px solid rgb(133, 76, 230);
}
.submit-btn:hover {
  border: 0.1px solid rgb(133, 76, 230);
  background-color: rgb(133, 76, 230);
}

.loader {
  background: none;
}

.success-msg {
  color: #fff;
}

/* ==============================Footer Css Starts Here========================= */
.footer {
  background-color: #000;
}
.footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;

  padding: 20px;
}

.footer-title {
  color: #fff;
  padding-bottom: 20px;
}
.footer-info {
  color: rgb(168, 164, 164);
  margin: 0;
  padding: 1rem 0;
}
.email-input {
  background-color: #000;
  border: 1px solid #0091ee;
  padding: 4px;
  margin-bottom: 25px;
  color: #fff;
}
.newsletter-btn {
  font-size: 1.2rem;
  padding: 1px 10px 5px 10px;
  border: none;
  background-image: linear-gradient(
    to right top,
    #231bdc,
    #006cff,
    #0091ee,
    #00aebd,
    #00c496,
    #3fc573,
    #6ac348,
    #93be00,
    #b3a600,
    #ce8a00,
    #e36700,
    #f2350e
  );
}
.icons {
  padding: 10px;
  color: rgb(168, 164, 164);
}
.icons:hover {
  color: #fff;
  cursor: pointer;
}

/* ===============================Media Queries============================== */

@media (max-width: 1024px) {
  /* main Section ================= */
  .author-img {
    width: 100%;
  }
  .author-info {
    padding: 0.5rem;
  }
  .container .box .title h1 {
    font-size: 35px;
  }
  .main-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .sec-title {
    font-size: 2rem;
    margin: 10px 0;
  }
  .sec-subtitle {
    font-size: 1rem;
  }
  /* Contact form=================== */
  .contact-container {
    flex-direction: column-reverse;
  }
  .author-info {
    padding: 0;
  }
  .author-img {
    width: 80%;
  }

  /* skills section=============== */
  .skills-containers h2 {
    font-size: 18px;
  }
  .skills-containers {
    width: 80%;
  }
  .skills-btn {
    font-size: 12px;
    padding: 8px 12px;
  }

  /* experiance section CSS */
  .company-box h3 {
    font-size: 15px;
  }
  .company-box h6,
  .company-box p {
    font-size: 12px;
  }
  .experience-box {
    width: 80%;
  }
  .exp-company {
    font-size: 12px;
  }
  .exp-job {
    font-size: 15px;
  }
  .exp-time {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .container .box .title h1 {
    font-size: 25px;
  }
  .role p {
    font-size: 10px;
  }
  .about-me {
    font-size: 12px;
  }
  .sec-title {
    font-size: 24px;
    padding: 10px;
  }
  .sec-subtitle {
    font-size: 12px;
  }
  .resume-btn {
    font-size: 12px;
    min-width: 100px;
  }
  .resume-btn span {
    padding: 12px 22px;
  }

  .form-title {
    font-size: 24px;
  }
  .form-subtitle,
  .submit-btn,
  .form-input {
    font-size: 10px;
  }
  .form-icon,
  .form-links {
    font-size: 0.6rem;
  }

  /* Projects Css(Portfolio)==== */
  .project-btn {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  /* main Section ================= */
  .author-info {
    padding: 0.5rem;
  }
  .author-name {
    font-size: 2rem;
  }
  /* Contact form=================== */
  .contact-info i,
  .contact-info a,
  .contact-info span {
    font-size: 0.7rem;
  }
}
